<h3>Add a Score</h3>
<form [formGroup]="scoreForm" (ngSubmit)="OnSubmit()">
    <div>
        <label for="week">Week</label>
        <input type="number" id="week" formControlName="week">
    </div>
    <div>
        <label for="opponent">Opponent</label>
        <input type="text" id="opponent" formControlName="opponent">
    </div>
    <div>
        <label for="ourScore">Our Score</label>
        <input type="number" id="ourScore" min="0" formControlName="ourScore">
    </div>
    <div>
        <label for="theirScore">Their Score</label>
        <input type="number" id="theirScore" min="0" formControlName="theirScore">
    </div>
    <div>
        <label for="outstandingPlayers">Outstanding Players</label>
        <input type="text" id="outstandingPlayers" formControlName="outstandingPlayers">
    </div> 
    <div>
        <input type="submit" value="Add Score">
    </div>
</form>
