<h3>Add a Score</h3>
<form [formGroup]="scoreForm" (ngSubmit)="onSubmit">
    <div>
        <label for="week">Week</label>
        <input type="number" id="week" name="week" formControlName="week">
    </div>
    <div>
        <label for="opponent">Opponent</label>
        <input type="text" id="opponent" name="opponent" formControlName="opponent">
    </div>
    <div>
        <label for="our-score">Our Score</label>
        <input type="number" id="our-score" name="our-score" min="0" formControlName="our-score">
        <label for="their-score">Their Score</label>
        <input type="number" id="their-score" name="their-score" min="0" formControlName="their-score">
    </div>
    <div>
        <label for="outstanding players">Outstanding Players</label>
        <input type= "text" id="outstanding-players" name="outstanding-players" formControlName="outstanding-players">
     </div> 
    <div>
        <input type="submit" value="Add Score">
    </div>

</form>
