<h3>Add a Score</h3>
<form [formGroup]="scoreForm" (ngSubmit)="OnSubmit()">
    <div>
        <!-- <mat-form-field> -->
            <mat-label for="week">Week</mat-label>
            <input matInput type="number" id="week" formControlName="week">
        <!-- </mat-form-field> -->
    </div>
    <div>
        <!-- <mat-form-field> -->
            <mat-label for="opponent">Opponent</mat-label>
            <input matInput type="text" id="opponent" formControlName="opponent">
        <!-- </mat-form-field> -->
    </div>
    <div>
        <label for="ourScore">Our Score</label>
        <input type="number" id="ourScore" min="0" formControlName="ourScore">
    </div>
    <div>
        <label for="theirScore">Their Score</label>
        <input type="number" id="theirScore" min="0" formControlName="theirScore">
    </div>
    <div>
        <label for="outstandingPlayers">Outstanding Players</label>
        <input type="text" id="outstandingPlayers" formControlName="outstandingPlayers">
    </div> 
    <div>
        <!-- <input type="button" class="mat-flat-button" value="Add Score"> -->
        <button mat-flat-button>Add Score</button>
    </div>
</form>
