<h1>Trojan Scores</h1>
<app-scores-form-beta></app-scores-form-beta>
<table>
    <thead>
        <tr>
            <th>Week</th>
            <th>Opponent</th>
            <th>Score</th>
            <th>Best</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of games">
            <td>{{game.week}}</td>
            <td>{{game.opponent}}</td>
            <td>{{game.ourScore}}-{{game.theirScore}}</td>
            <td>{{game.outstandingPlayer}}</td>
            <td> <a [routerLink]="['/game-details', game.id]">Details</a></td>
        </tr>
    </tbody>
</table>
<!-- <table>
    <caption>Trojan Football Scores</caption>
    <thead>
    <tr>
        <th>Week</th>
        <th>Opponent</th>
        <th>Score</th>
        <th>Best Players</th>
        <th>Box Score</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>USC</td>
        <td>42-14</td>
    
        <td>
            <ol>   
                <li>Matt</li>
                <li>Reggie</li>
                <li>LenDale</li>
            </ol>
        </td>
        <td>
            <table>
                <tr>
                    <th>Us</th>
                    <th>Them</th>
                    <th>Quarter</th>
                </tr>
                <tr>
                    <td>First</td>
                    <td>20</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>Second</td>
                    <td>25</td>
                    <td>30</td>
                </tr>
                
            </table>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>UCLA</td>
        <td>35-21</td>
        <td></td>
        <!-- <td>
            <ol>   
                <li>Carson</li>
                <li>Reggie</li>
                <li>LenDale</li>
            </ol>
        </td> -->
        <!-- <td>
            <table>
                <tr>
                    <th>Us</th>
                    <th>Them</th>
                    <th>Quarter</th>
                </tr>
                <tr>
                    <td>First</td>
                    <td>0</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Second</td>
                    <td>27</td>
                    <td>20</td>
                </tr>
                
            </table>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td colspan="3">bye</td>
        <td>Box Score Very Empty</td>
    </tr>
</tbody>
</table> --> 
