table{
    background-color: rgb(255, 255, 252);
    border-width: 1px; /* Ensure border width is set */
    border-style: solid; /* Ensure border style is set */
    border-color: rgb(255, 255, 255);
    color: #000000; /* Change this to your desired text color */
}

th{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: rgb(60, 232, 255);
    color: black;
}

td{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(60, 232, 255);
    color: black;
}



