<h1>Trojan Scores</h1>
<app-scores-form-beta></app-scores-form-beta>

<table mat-table [dataSource]="games">
    <ng-container matColumnDef="week">
        <th mat-header-cell *matHeaderCellDef>Week</th>
        <td mat-cell *matCellDef="let game">{{game.week}}</td>
    </ng-container>

    <ng-container matColumnDef="opponent">
        <th mat-header-cell *matHeaderCellDef>Opponent</th>
        <td mat-cell *matCellDef="let game">{{game.opponent}}</td>
    </ng-container>

    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let game">{{game.ourScore}}-{{game.theirScore}}</td>
    </ng-container>

    <ng-container matColumnDef="outstandingPlayer">
        <th mat-header-cell *matHeaderCellDef>Best Player</th>
        <td mat-cell *matCellDef="let game">{{game.outstandingPlayer}}</td>
    </ng-container>


    <ng-container matColumnDef="narrative">
        <th mat-header-cell *matHeaderCellDef>Narrative</th>
        <td mat-cell *matCellDef="let game">{{generateNarrative(game)}}</td>
    </ng-container>

    <ng-container matColumnDef="record">
        <th mat-header-cell *matHeaderCellDef>Recent Record</th>
        <td mat-cell *matCellDef="let game; let i=index">{{generateRecord(i,4)}}</td>
        <!-- index starts at 0. We write is following the (startPint, setSize). We told the server to put 2 inputs here, hence the two values of i and 3; anything less will break it. -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="gameColumns"></tr> 
    <tr mat-row *matRowDef="let row; columns: gameColumns;"></tr>

        <!-- <thead>
            <tr>
                <th>Week</th>
                <th>Opponent</th>
                <th>Score</th>
                <th>Best</th>
            </tr>
        </thead>
    <tbody>
        <tr *ngFor="let game of games">
            <td>{{game.week}}</td>
            <td>{{game.opponent}}</td>
            <td>{{game.ourScore}}-{{game.theirScore}}</td>
            <td>{{game.outstandingPlayer}}</td>
            <td> <a [routerLink]="['/game-details', game.id]">Details</a></td>
        </tr>
    </tbody> -->
</table>
<p *ngIf="games.data.length === 0">No games have been added yet</p>

<!-- <p *ngIf="games.length === 0">No games have been added yet</p> -->





<!-- <table>
    <caption>Trojan Football Scores</caption>
    <thead>
    <tr>
        <th>Week</th>
        <th>Opponent</th>
        <th>Score</th>
        <th>Best Players</th>
        <th>Box Score</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>USC</td>
        <td>42-14</td>
    
        <td>
            <ol>   
                <li>Matt</li>
                <li>Reggie</li>
                <li>LenDale</li>
            </ol>
        </td>
        <td>
            <table>
                <tr>
                    <th>Us</th>
                    <th>Them</th>
                    <th>Quarter</th>
                </tr>
                <tr>
                    <td>First</td>
                    <td>20</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>Second</td>
                    <td>25</td>
                    <td>30</td>
                </tr>
                
            </table>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>UCLA</td>
        <td>35-21</td>
        <td></td>
        <!-- <td>
            <ol>   
                <li>Carson</li>
                <li>Reggie</li>
                <li>LenDale</li>
            </ol>
        </td> -->
        <!-- <td>
            <table>
                <tr>
                    <th>Us</th>
                    <th>Them</th>
                    <th>Quarter</th>
                </tr>
                <tr>
                    <td>First</td>
                    <td>0</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Second</td>
                    <td>27</td>
                    <td>20</td>
                </tr>
                
            </table>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td colspan="3">bye</td>
        <td>Box Score Very Empty</td>
    </tr>
</tbody>
</table> --> 
