.box{
    width: 100px;
    height: 100px;
    background-color:rgb(177, 240, 240);
    border: 2px solid rgb(0, 0, 0);
    color: orangered;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
}

:host{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
    margin: 0;
    background-color: lightgoldenrodyellow;
    
}

.container{
    position: relative;
    width: 80%;
    height: 80%;
    background-color:pink;
}

.box1{
    position:absolute;
    top:20px;
    left: 20px;
}

.box2{
    position: absolute;
    bottom: 20px;
    right: 20px;
}